$theme: (
  global: (
    bg: #201008
  ),

  police: (
    bg: #0B1B30,
    sidebar: (
      bg: #0c1046
    )
  ),

  fire: (
    bg: #30110b,
    sidebar: (
      bg: #440606
    )
  ),

  medical: (
    bg: #0b3014,
    sidebar: (
      bg: #042206
    )
  )
);